.home {
  background-image: url(../images/home.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.white {
  color: white;
  font-family: Georgia;
}
