doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='css/bulma.css')
    link(rel='stylesheet' href='css/app.css')
    link(rel='icon' type='image/x-icon' size='any' href='images/favicon.ico')
  body
    #app
      section.home.hero.is-fullheight
        .hero-body
          .container
            h1.title.white Guara
            h2.subtitle.white Youtube player
            a.button.is-outlined.is-primary.is-primary Login
    script(type='text/javascript', src='js/vue.js')
    script(type='text/javascript', src='index.js')
