doctype html
html
  head
    script(type='text/javascript', src='js/vue.js')
  body
    div
      p test II
    #app
      p {{message}}
    #time
      timeComponent
    script(type='text/javascript', src='app.js')
    script(type='text/javascript', src='timeComponent.js')
